Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Built-in pre-commit hooks for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '(\.patch$|\.xml$)'
      - id: end-of-file-fixer
        exclude: '(\.patch$|\.xml$)'
      - id: check-toml
      - id: check-json
        # Exclude JSONC files and Zed config (which allows comments)
        exclude: '(\.jsonc$|\.config/zed/)'
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks

  # Shell script linting with shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        # Exclude shell rc files and direnv files (they don't need shebangs)
        exclude: '(\.zshrc|\.zprofile|\.zshenv|\.direnvrc|\.envrc)$'

  # Local custom hooks specific to this dotfiles repository
  - repo: local
    hooks:
      # TypeScript validator for dotfiles structure
      - id: validate-dotfiles
        name: Validate Dotfiles Repository
        entry: bun run scripts/validate-dotfiles.ts
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        verbose: true

      # Ensure Nix files are formatted
      - id: nixfmt-check
        name: Check Nix Formatting
        entry: nixfmt
        args: ['--check']
        language: system
        files: '\.nix$'
        pass_filenames: true

      # Format TOML files
      - id: taplo-format
        name: Format TOML Files
        entry: taplo format
        language: system
        files: '\.toml$'
        pass_filenames: true

Prune unused Yazi extensions
  .config/mise/config.toml
  .config/yazi/init.lua
  .config/yazi/keymap.toml
  .config/yazi/package.toml
  .mise/tasks/check/yazi
Due: taplo-format

Split portable and Nix repository checks
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .mise/tasks/check/_default
  .mise/tasks/check/all
  .mise/tasks/check/nix
  .pre-commit-config.yaml
Due: nixfmt-check, taplo-format

Use eza for directory tree previews
  .config/nix/modules/common/packages.nix
  .config/nushell/commands.nu
  .config/shell/.zshrc
Due: nixfmt-check

Use Conda for portable resvg
  .config/mise/config.toml
Due: taplo-format

Split portable and Nix formatting
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .mise/tasks/format/_default
  .mise/tasks/format/all
Due: nixfmt-check, taplo-format

Move Jujutsu integrations to mise
  .config/mise/config.toml
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
Due: nixfmt-check, taplo-format

Remove Home Manager from the Nix layer
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/packages.nix
  .config/nix/modules/darwin/shell.nix
  .config/nix/modules/home/default.nix
  .config/nix/modules/home/packages.nix
  .config/nix/modules/home/programs.nix
  .config/nushell/carapace.nu
  .config/nushell/env.nu
  .config/shell/.direnvrc
  .config/shell/.zshenv
Due: nixfmt-check

Add portable clipboard copying
  .config/helix/config.toml
  .config/mise/config.toml
  .config/nushell/commands.nu
  .config/nvim/lua/nrm/core/keymaps.lua
  .mise/tasks/check/_default
  .mise/tasks/check/clipboard
  scripts/clipcopy.nu
Due: taplo-format

Enter Nushell from Linux login shells
  .config/mise/config.linux.toml
  .config/nushell/theme.nu
  .config/shell/.zshrc
  scripts/validate-dotfiles.ts
Due: taplo-format

Use portable locale defaults
  .config/nushell/env.nu
  .config/shell/.zshenv
Due: none

Separate Darwin administration from portable shell config
  .config/mise/config.macos.toml
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/nushell/macos.nu
  .mise/tasks/nix/darwin/build
  .mise/tasks/nix/darwin/clean
  .mise/tasks/nix/darwin/clean-generations
  .mise/tasks/nix/darwin/generations
  .mise/tasks/nix/darwin/rebuild
  .mise/tasks/nix/darwin/rollback
  .mise/tasks/nix/darwin/switch-generation
  .mise/tasks/nix/darwin/update
  README.md
Due: taplo-format

Lock mise tools across supported platforms
  .config/mise/config.toml
  .config/mise/mise.lock
  README.md
  mise.lock
Due: taplo-format

Remove unused Darwin app integrations
  .config/nix/modules/darwin/activation.nix
  .config/nix/modules/darwin/packages.nix
Due: nixfmt-check

Move personal directories to mise bootstrap
  .config/mise/config.macos.toml
  .config/nix/modules/darwin/activation.nix
Due: nixfmt-check, taplo-format

Move JetBrains Mono font to mise
  .config/mise/config.macos.toml
  .config/nix/modules/darwin/default.nix
Due: nixfmt-check, taplo-format

Remove ambient Nix build flags
  .config/nix/modules/darwin/default.nix
  .config/nix/modules/darwin/environment.nix
Due: nixfmt-check

Manage the Nextflow language server with mise
  .config/mise/config.toml
  .config/mise/mise.lock
  .config/nextflow/bin/nextflow-language-server
  .gitignore
Due: taplo-format

mise lock updates
  .config/mise/mise.lock
Due: none

turning off herdr onboarding, which otherwise runs on every herdr update
  .config/herdr/config.toml
Due: taplo-format

Refresh Atuin's Nushell initialization
  .config/atuin/init.nu
  .config/nushell/config.nu
Due: none

fidgeting with herdr keybinds
  .config/herdr/config.toml
Due: taplo-format

small tweaks to herdr config plus globally adding duckdb with mise
  .config/herdr/config.toml
  .config/mise/config.toml
  .config/mise/mise.lock
Due: taplo-format

restoring markdown-oxide availability with mise
  .config/mise/config.toml
  .config/mise/mise.lock
Due: taplo-format

grab bag of small changes and fixes
  .config/mise/config.toml
  .config/mise/mise.lock
  .config/nushell/env.nu
  .config/shell/.zshenv
  mise.lock
  mise.toml
Due: taplo-format

fixing Neovim clipboard copying over SSH with OSC 52
  .config/nvim/lua/nrm/core/options.lua
Due: none

updating models in opencode subagents
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/codebase-searcher.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/measurement-guru.md
  .config/opencode/agent/move-37.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/oracle.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
  .config/opencode/opencode.jsonc
Due: none

updating mise lock and some dependencies
  .config/mise/config.toml
  .config/mise/mise.lock
  mise.lock
Due: taplo-format

customizing tsc language server support in neovim to use the effect-version of tsgo when available in effect projects
  .config/nvim/lua/nrm/languages/lsp.lua
Due: none

upgrading gpt sol model subagents to use 6.1
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
  .config/opencode/opencode.jsonc
Due: none

adding a minimal Pi 1.0 setup managed by mise
  .config/mise/config.toml
  .config/mise/mise.lock
  .config/pi/AGENTS.md
  .gitignore
  README.md
Due: taplo-format

further customizing my pi setup
  .config/mise/config.toml
  .config/pi/settings.json
  .gitignore
  README.md
Due: taplo-format

bumping opencode to its amazing v2
  .config/mise/config.toml
  .config/mise/mise.lock
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agents/allocation-nag.md
  .config/opencode/agents/architecture-advice.md
  .config/opencode/agents/careful.md
  .config/opencode/agents/codebase-searcher.md
  .config/opencode/agents/crazy-idea.md
  .config/opencode/agents/documentation-nerd.md
  .config/opencode/agents/measurement-guru.md
  .config/opencode/agents/move-37.md
  .config/opencode/agents/nick-isms.md
  .config/opencode/agents/oracle.md
  .config/opencode/agents/semver-nag.md
  .config/opencode/agents/testing-guru.md
  .config/opencode/cli.json
  .config/opencode/opencode.jsonc
  .config/opencode/tui.json
  .gitignore
  package.json
  pnpm-lock.yaml
  scripts/validate-dotfiles.ts
Due: taplo-format

removing the paper mcp server from my opencode setup
  .config/opencode/opencode.jsonc
Due: none
