Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

nixfmt-check:
  name: Check Nix Formatting
  entry: nixfmt
  args:
  - --check
  language: system
  pass_filenames: true

taplo-format:
  name: Format TOML Files
  entry: taplo format
  language: system
  pass_filenames: true

switching my default editor to nvim for now
  .config/git/.gitconfig
  .config/nushell/config.nu
  .config/nushell/env.nu
  .config/shell/.zshenv
Due: none

fixing nextflow lsp integration in neovim
  .config/neovim/plugins/languages/nextflow.nix
Due: nixfmt-check

fixing a few more neovim bugs
  .config/neovim/keymaps.nix
  .config/neovim/plugins/flash.nix
  .config/neovim/plugins/gitsigns.nix
  .config/neovim/plugins/snacks/notifier.nix
Due: nixfmt-check

switching to gpt models and particularly 5.3-codex because of its better token efficiency for the time being
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/codebase-searcher.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/measurement-guru.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
  .config/opencode/opencode.jsonc
Due: none

adding a fast nvim-rebuild just recipe for home-manager activation
  justfile
Due: none

adding some cute jj stuff to my jj config from https://github.com/dmmulroy/.dotfiles, plus removing `jj` as a nvim keybind and jjr as an alias for `jj -r`
  .config/jj/config.toml
  .config/neovim/keymaps.nix
  .config/nushell/aliases.nu
Due: nixfmt-check, taplo-format

updating nix flake locks
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/programs.nix
  flake.lock
Due: nixfmt-check

playing with neovim themes a bit
  .config/neovim/colors/bluescreen.lua
  .config/neovim/colors/bluescreen_soft.lua
  .config/neovim/colorscheme.nix
  .config/nix/modules/home/neovim.nix
  .gitignore
Due: nixfmt-check

adding a couple more matt pocock skills
  .config/.claude/skills/grill-me/SKILL.md
  .config/.claude/skills/ubiquitous-language/SKILL.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

a smorgasbord of neovim tweaks, most recently including opening the fff file picker on `nvim .`
  .config/neovim/autocmds.nix
  .config/neovim/keymaps.nix
  .config/neovim/plugins/languages/rust.nix
  .config/neovim/plugins/oil.nix
  .config/neovim/plugins/snacks/picker.nix
  .config/neovim/settings.nix
Due: nixfmt-check

switching my python setup's lsp from basedpyright to ty
  .config/neovim/plugins/languages/python.nix
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

fixing goto implementations in my rust lsp setup
  .config/neovim/plugins/snacks/picker.nix
Due: nixfmt-check

adding crates.nvim
  .config/neovim/plugins/languages/crates.lua
  .config/neovim/plugins/languages/lua.nix
  .config/neovim/plugins/languages/rust.nix
  .config/neovim/plugins/lint.nix
  .gitignore
Due: nixfmt-check

adding the television fuzzy finder for fun and for profit
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

adding rustowl as a cool and crazy neovim plugin for being lifetimes in rust
  .config/neovim/plugins/languages/rust.nix
  .config/neovim/plugins/languages/rustowl.lua
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/home/neovim.nix
Due: nixfmt-check

reconfiguring ocaml again because i can't help myself
  .config/neovim/plugins/conform.nix
  .config/neovim/plugins/languages/ocaml.nix
  .config/neovim/plugins/snacks/picker.nix
  .config/neovim/settings.nix
  .config/nushell/config.nu
  .config/nushell/env.nu
Due: nixfmt-check

trying out these fancy superfast codex spark models
  .config/opencode/agent/codebase-searcher.md
  .config/opencode/agent/documentation-nerd.md
Due: none

switching some of my model provider specifications in my subagents including careful
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/careful.md
Due: none

nix system updates and some fixes for the neovim build, which unfortunately meant forgoing gleam for now
  .config/neovim/plugins/languages/gleam.nix
  .config/neovim/plugins/languages/rust.nix
  .config/neovim/plugins/lsp.nix
  .config/neovim/plugins/mini.nix
  .config/neovim/plugins/treesitter.nix
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/neovim.nix
Due: nixfmt-check

adding gh-dash to try out a tui for managing issues and PRs in the command line
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

making visual multi mode in neovim a little more intuitive and less conflicting with macos keybinds
  .config/neovim/plugins/visual-multi.nix
Due: nixfmt-check

removing hard wraps from jjdescription and allow comment leaders again in JS/TS
  .config/neovim/ftplugin.nix
Due: nixfmt-check

switching to light mode catppuccin and shifting some other ghostty settings
  .config/ghostty/config
Due: none

enabling Cmd+K for getting hover docs in neovim
  .config/neovim/plugins/lsp.nix
Due: nixfmt-check

adding the duckdb extension for yazi to view lots of tabular formats
  .config/yazi/yazi.toml
Due: taplo-format

codex 5.3 nano is a danger to itself. use the mini models instead
  .config/opencode/agent/codebase-searcher.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/measurement-guru.md
Due: none

adding a new alias for opening neovim on the current dir and a colorscheme theme change to catppuccin latte
  .config/neovim/colorscheme.nix
  .config/nushell/aliases.nu
Due: nixfmt-check

adjusting the color of the cute animated snacks indents
  .config/neovim/plugins/snacks/indent.nix
Due: nixfmt-check

more theme adjustments while I figure out how to auto-change themes
  .config/ghostty/config
  .config/yazi/theme.toml
Due: taplo-format

nix/nix-darwin system update and flake lock bump, plus a new init script for atuin
  .config/atuin/init.nu
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

damn bro they just keep making these new models huh
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/oracle.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
Due: none

implementing a somewhat convoluted system for automatically syncing shell color themes with the macos system theme
  .config/bat/config
  .config/btop/btop.conf
  .config/btop/themes/catppuccin-latte.theme
  .config/btop/themes/catppuccin-macchiato.theme
  .config/ghostty/config
  .config/neovim/autocmds.nix
  .config/neovim/colorscheme.nix
  .config/neovim/plugins/blink.nix
  .config/neovim/plugins/which-key.nix
  .config/neovim/utilities.nix
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
  .config/nushell/env.nu
  .config/nushell/theme.nu
  .config/opencode/opencode.jsonc
  .config/yazi/theme.toml
  .dotter/global.toml
  .gitignore
Due: nixfmt-check, taplo-format

attempting to fix zlib linker errors that plague some of my rust builds
  .config/nix/modules/darwin/environment.nix
  .config/nushell/env.nu
Due: nixfmt-check

updating dev nix flake locks
  flake.lock
  flake.nix
Due: nixfmt-check

updating reasoning effort for a few custom agents, plus zed theme changes
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/oracle.md
  .config/zed/settings.json
Due: none

export portable neovim bundle from nixvim
  .config/neovim/autocmds.nix
  .gitignore
  docs/portable-neovim.md
  justfile
  scripts/export-nvim-portable.nu
Due: nixfmt-check

adding a few new skills and updating the nix darwin system
  .config/.claude/skills/handoff/SKILL.md
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/skills.nix
  .config/opencode/skills/grill-me/SKILL.md
  .dotter/global.toml
  .gitignore
  flake.lock
Due: nixfmt-check, taplo-format

adding cbindgen to global nix packages
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

updating effect v4 skill for current beta docs
  .config/.claude/skills/effect-ts/SKILL.md
  .config/.claude/skills/effect-ts/references/auxiliary-modules.md
  .config/.claude/skills/effect-ts/references/http.md
  .config/.claude/skills/effect-ts/references/streams.md
  .config/.claude/skills/effect-ts/references/testing.md
Due: none

Path conditions:
  nixfmt-check: any of: \.nix$
  taplo-format: any of: \.toml$
