Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

nixfmt-check:
  name: Check Nix Formatting
  entry: nixfmt
  args:
  - --check
  language: system
  pass_filenames: true

taplo-format:
  name: Format TOML Files
  entry: taplo format
  language: system
  pass_filenames: true

that's right! validation in another language!!
  .gitignore
  Cargo.lock
  Cargo.toml
  justfile
  scripts/.ocamlinit
  scripts/validate-dotfiles.hs
  scripts/validate-dotfiles.ml
  scripts/validate-dotfiles.rs
Due: taplo-format

removing some extraneous lockfiles
  .gitignore
  Cargo.toml
  bun.lock
Due: taplo-format

gitignore update
  .gitignore
Due: none

fixing the rust-script environment
  Cargo.toml
  flake.nix
  scripts/validate-dotfiles.rs
Due: nixfmt-check, taplo-format

removing the cargo lock from github
  .gitignore
  Cargo.lock
Due: none

removing cargo lockfile allowance from the gitignore
  .gitignore
Due: none

fixes for the justfile plus updates to the justfile
  .config/atuin/config.toml
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/shell/.zshrc
  justfile
Due: nixfmt-check, taplo-format

more configs, plus beginning a partial migration to nushell
  .config/bat/config
  .config/ghostty/config
  .config/nix-darwin/flake.nix
  .config/shell/.zshenv
  .config/shell/.zshrc
  .config/tlrc/config.toml
  .dotter/global.toml
  .dotter/local.toml
  .dotter/macos.toml
  .gitignore
  Cargo.toml
  flake.nix
  justfile
  scripts/validate-dotfiles.hs
  scripts/validate-dotfiles.nu
  scripts/validate-dotfiles.rs
  scripts/validate-dotfiles.ts
Due: nixfmt-check, taplo-format

it was a good run haskell and ocaml
  scripts/validate-dotfiles.hs
  scripts/validate-dotfiles.ml
Due: none

getting rid of haskell configs
  .config/stylish-haskell/config.yaml
  .gitignore
Due: none

small gitignore update
  .gitignore
Due: none

continuing forth down the nushell rabbithole
  .config/atuin/init.nu
  .config/julia/config/startup.jl
  .config/nushell/carapace.nu
  .config/nushell/config.nu
  .config/nushell/env.nu
  .config/nushell/starship.nu
  .dotter/global.toml
  .dotter/local.toml
  .dotter/macos.toml
  .gitignore
Due: taplo-format

nushell is now my default shell
  .config/ghostty/config
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/nushell/env.nu
  .config/shell/.zprofile
  .config/shell/.zshenv
  .dotter/global.toml
  .gitignore
Due: taplo-format

pulling in yazi plugins
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/yazi/init.lua
  .config/yazi/keymap.toml
  .dotter/global.toml
  .gitignore
Due: nixfmt-check, taplo-format

fixing nushell plugins
  .config/nix-darwin/flake.nix
  .config/nushell/env.nu
Due: nixfmt-check

adding agent configuration for opencode
  .config/opencode/agent/careful.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

adding more custom agents for opencode
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/documentation-nerd.md
  .dotter/global.toml
  .dotter/local.toml
Due: taplo-format

introducing fine grained restrictions on my coding agents :)
  .config/ghostty/config
  .config/opencode/agent/careful.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/documentation-nerd.md
  .config/zed/settings.json
Due: none

adding cut new keybinds for getting a buffered file's path in helix
  .config/helix/config.toml
Due: taplo-format

disabling the jobs symbol in starship that was getting triggered erroneously
  .config/starship.toml
Due: taplo-format

switching starship theme for funzies
  .config/starship.toml
Due: taplo-format

git workflow changes plus bringing lazygit config into the fold of what's deployed with this repo
  .config/git/.gitconfig
  .config/helix/languages.toml
  .config/lazygit/config.yml
  .config/nix-darwin/flake.nix
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/opencode/agent/careful.md
  .config/shell/.zshrc
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: nixfmt-check, taplo-format

adding some more fancy aliases and custom functions to the nushell setup including a system for using python virtual environments
  .config/ghostty/config
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/nushell/env.nu
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/documentation-nerd.md
  .config/shell/.zshrc
Due: nixfmt-check

updates to nushell config, the nix environment, and a few other odds and ends
  .config/helix/config.toml
  .config/helix/languages.toml
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/opencode/agent/crazy-idea.md
  .config/shell/.zshrc
  .config/yazi/init.lua
Due: nixfmt-check, taplo-format

switching to ty as my python language server now that it's in beta
  .config/helix/languages.toml
Due: taplo-format

adding a couple new agents plus an updated system flake lock
  .config/helix/languages.toml
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/nushell/config.nu
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
  .config/opencode/opencode.jsonc
  .dotter/global.toml
  .gitignore
Due: nixfmt-check, taplo-format

Adding a few more git-related dependencies and some cargo plugins. The git dependencies include dependencies to try out `jj` and `gitui` to see if it is lighter on my system than lazygit
  .config/.harlequin.toml
  .config/btop/btop.conf
  .config/gitui/key_bindings.ron
  .config/gitui/theme.ron
  .config/helix/config.toml
  .config/helix/languages.toml
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/opencode/opencode.jsonc
  .config/yazi/init.lua
  .dotter/global.toml
  .dotter/local.toml
  .dotter/macos.toml
  .gitignore
  flake.lock
  justfile
Due: nixfmt-check, taplo-format

updates to btop, javascript tooling, the nu module organization, plus a new cheeky agent
  .config/.oxfmtrc.json
  .config/.prettierrc
  .config/btop/btop.conf
  .config/helix/languages.toml
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/opencode/agent/careful.md
  .config/opencode/agent/nick-isms.md
  .config/rumdl/.rumdl.toml
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: nixfmt-check, taplo-format

fixing the zoxide integration with nushell which was falling apart because nushell needs a custom completer, plus the .zoxide.nu wasn't version-tracked and wasn't deployed by dotter
  .config/nushell/commands.nu
  .config/zoxide/.zoxide.nu
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: taplo-format

supporting jujutsu directly in my starship shell prompt
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/starship.toml
Due: nixfmt-check, taplo-format

Adding nushell aliases and some cool custom commands for `jj` muscle memory and convenient migration from git
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
Due: none

Now using `oxfmt` and `oxlint` by default in javascript land
  .config/helix/languages.toml
Due: taplo-format

putting carapace completions in "IDE" mode thanks to this reddit thread: https://www.reddit.com/r/Nushell/comments/1q1sbkn/fun_fact_nushell_has_an_ide_style_completion_mode/
  .config/nushell/carapace.nu
Due: none

basically arbitrary changes to the ghostty config
  .config/ghostty/config
Due: none

Adding a `sysmod` custom command as shorthand for going to my dotfiles and buffering my nix-darwin flake to make edits
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/nushell/commands.nu
Due: nixfmt-check

adding a cute terminal white noise player with an alias `noise` because life is short
  .config/nushell/aliases.nu
Due: none

fixing my `jj from git` custom nushell command to correctly use `--colocate` in `jj git init`
  .config/nushell/commands.nu
Due: none

Adding a slick code review nushell command, `review`, that automates cloning, changing into, and optionally opening a git remote for code review
  .config/nushell/commands.nu
Due: none

Path conditions:
  nixfmt-check: any of: \.nix$
  taplo-format: any of: \.toml$
