Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # Built-in pre-commit hooks for common issues
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '(\.patch$|\.xml$)'
      - id: end-of-file-fixer
        exclude: '(\.patch$|\.xml$)'
      - id: check-toml
      - id: check-json
        # Exclude JSONC files and Zed config (which allows comments)
        exclude: '(\.jsonc$|\.config/zed/)'
      - id: check-yaml
      - id: check-symlinks
      - id: destroyed-symlinks

  # Shell script linting with shellcheck
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        args: ['--severity=warning']
        # Exclude shell rc files and direnv files (they don't need shebangs)
        exclude: '(\.zshrc|\.zprofile|\.zshenv|\.direnvrc|\.envrc)$'

  # Local custom hooks specific to this dotfiles repository
  - repo: local
    hooks:
      # TypeScript validator for dotfiles structure
      - id: validate-dotfiles
        name: Validate Dotfiles Repository
        entry: bun run scripts/validate-dotfiles.ts
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]
        verbose: true

      # Ensure Nix files are formatted
      - id: nixfmt-check
        name: Check Nix Formatting
        entry: nixfmt
        args: ['--check']
        language: system
        files: '\.nix$'
        pass_filenames: true

      # Format TOML files
      - id: taplo-format
        name: Format TOML Files
        entry: taplo format
        language: system
        files: '\.toml$'
        pass_filenames: true

alias updates and some changes to nix packages
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  .config/nushell/aliases.nu
Due: nixfmt-check

changing the codebase searcher model to gpt 5.5
  .config/opencode/agent/codebase-searcher.md
Due: none

bringing in the matt pocock codebase architecture skill
  .config/.claude/skills/improve-codebase-architecture/DEEPENING.md
  .config/.claude/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
  .config/.claude/skills/improve-codebase-architecture/LANGUAGE.md
  .config/.claude/skills/improve-codebase-architecture/SKILL.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

experimenting with a deliberately vague and vibey "move 37" agent
  .config/opencode/agent/move-37.md
  .dotter/global.toml
Due: taplo-format

seems i never committed my tigerstyle skill
  .config/.claude/skills/tigerstyle/SKILL.md
  .gitignore
Due: none

btop config update!
  .config/btop/btop.conf
Due: none

removing Paper from apple dock
  .config/nix/modules/darwin/system.nix
Due: nixfmt-check

teeny new section for arch advice agent
  .config/opencode/agent/architecture-advice.md
Due: none

switching zed from helix mode to vim move (btw)
  .config/zed/settings.json
Due: none

removing vcs-detect skill
  .config/.claude/skills/codebase-searcher/SKILL.md
  .config/.claude/skills/jj/SKILL.md
  .config/.claude/skills/vcs-detect/SKILL.md
  .config/opencode/command/complete-next-task.md
Due: none

updating nix system and fixing impeccable skill deployment
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/skills.nix
Due: nixfmt-check

adding aliases for using lumen to review diffs
  .config/nushell/aliases.nu
  .config/nushell/config.nu
  .config/nushell/env.nu
Due: none

increasing oracle custom agent's reasoning effort
  .config/opencode/agent/oracle.md
Due: none

fixing yazi config for newer rule schema
  .config/yazi/flavors/catppuccin-frappe.yazi/flavor.toml
  .config/yazi/flavors/catppuccin-latte.yazi/flavor.toml
  .config/yazi/flavors/catppuccin-macchiato.yazi/flavor.toml
  .config/yazi/flavors/catppuccin-mocha.yazi/flavor.toml
  .config/yazi/flavors/dracula.yazi/flavor.toml
  .config/yazi/yazi.toml
Due: taplo-format

adding a goal plugin to opencode
  .config/opencode/opencode.jsonc
  .config/opencode/tui.json
Due: none

removing vcs-detect from dotter deployment
  .config/nushell/aliases.nu
  .dotter/global.toml
Due: taplo-format

adding sg alias for ast-grep and installing rclone
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

adding cute presenterm alias
  .config/nushell/aliases.nu
Due: none

removing some package installs
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

moving AI skill assets to home-manager
  .config/.claude/skills/handoff/SKILL.md
  .config/.claude/skills/improve-codebase-architecture/DEEPENING.md
  .config/.claude/skills/improve-codebase-architecture/INTERFACE-DESIGN.md
  .config/.claude/skills/improve-codebase-architecture/LANGUAGE.md
  .config/.claude/skills/improve-codebase-architecture/SKILL.md
  .config/.claude/skills/tdd/SKILL.md
  .config/.claude/skills/tdd/deep-modules.md
  .config/.claude/skills/tdd/interface-design.md
  .config/.claude/skills/tdd/mocking.md
  .config/.claude/skills/tdd/refactoring.md
  .config/.claude/skills/tdd/tests.md
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/darwin/homebrew.nix
  .config/nix/modules/home/skills.nix
  .config/opencode/skills/grill-me/SKILL.md
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
  justfile
  scripts/validate-dotfiles.nu
Due: nixfmt-check, taplo-format

making nixvim nixpkgs source explicit
  .config/nix/modules/home/neovim.nix
Due: nixfmt-check

updating the jj skill to more explicitly encourage agents to use jj describe directly
  .config/.claude/skills/jj/SKILL.md
Due: none

updating the careful agent and adding a code sketching skill
  .config/.claude/skills/code-sketches/SKILL.md
  .config/nix/modules/home/skills.nix
  .config/opencode/agent/careful.md
  .gitignore
Due: nixfmt-check

small tweak to careful agent language, plus fixing the requested agent for allocation-nag
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agent/careful.md
Due: none

updating the nextflow language server and commenting out the nextflow nix install
  .config/neovim/plugins/languages/nextflow.nix
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

updating dev env and system flakes
  .config/nix/flake.lock
  flake.lock
Due: none

adding the matt pocock teach skill
  .config/nix/modules/home/skills.nix
Due: nixfmt-check

adding figma back to dock
  .config/nix/modules/darwin/system.nix
Due: nixfmt-check

adding rune language support
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

adding oyui as jj diff editor
  .config/jj/config.toml
  .config/neovim/plugins/languages/default.nix
  .config/neovim/plugins/languages/rune.nix
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/neovim.nix
  .config/oyui/config.rn
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: nixfmt-check, taplo-format

adding conditional activation for nub node toolkit
  .config/nushell/config.nu
Due: none

new cute aliases for my path clipboard grabber command
  .config/nushell/commands.nu
Due: none

small tweak to and formatting for the careful agent markdown file
  .config/opencode/agent/careful.md
Due: none

adding aliases for updating a stale jj workspace
  .config/nushell/aliases.nu
Due: none

fixing yazi duckdb plugin
  .config/yazi/init.lua
Due: none

switching the measurement-guru agent to a supported gpt model
  .config/opencode/agent/measurement-guru.md
Due: none

fix zellij theming and atuin nushell cleanup
  .config/atuin/init.nu
  .config/btop/btop.conf
  .config/zellij/config.kdl
Due: none

small tweaks to my bespoke logging skill to bring it closer to the boristane one
  .config/.claude/skills/logging/SKILL.md
Due: none

fixing my loading of a local nu module for private commands
  .config/nushell/aliases.nu
  .config/nushell/config.nu
Due: none

system update
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
Due: nixfmt-check
