Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

nixfmt-check:
  name: Check Nix Formatting
  entry: nixfmt
  args:
  - --check
  language: system
  pass_filenames: true

taplo-format:
  name: Format TOML Files
  entry: taplo format
  language: system
  pass_filenames: true

adding performance design to managed skills
  .config/mise/tasks/skills/sync
Due: none

teeny tiny tweak to lumen diff aliases plus a tuicr alias
  .config/nushell/aliases.nu
Due: none

Updating btop configuration
  .config/btop/btop.conf
Due: none

bringing herdr configuration into the dotfiles
  .config/ghostty/config
  .config/herdr/config.toml
  .config/lazygit/config.yml
  .config/mise/tasks/skills/sync
  .config/nushell/aliases.nu
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: taplo-format

restore VCSigns hunk reset keybinds
  .config/neovim/plugins/vcsigns.nix
Due: nixfmt-check

adding anti-slop and show-me to managed skills
  .config/mise/tasks/skills/sync
Due: none

integrating tuicr into herdr for in-workspace code review
  .config/herdr/config.toml
Due: taplo-format

Update nixpkgs to provide mise 2026.8.3
  .config/nix/flake.lock
  .config/nix/modules/home/nu-plugin-polars-ethnum-1.5.3.patch
  .config/nix/modules/home/programs.nix
Due: nixfmt-check

adding commands for the jj workspace herdr plugin
  .config/herdr/config.toml
Due: taplo-format

Move Homebrew and App Store declarations from Nix to mise
  .config/mise/config.toml
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/darwin/homebrew.nix
Due: nixfmt-check, taplo-format

grab back of changes; too lazy to write serious commit message ツ
  .config/ghostty/config
  .config/herdr/config.toml
  .config/opencode/agent/careful.md
  .config/opencode/agent/codebase-searcher.md
  .config/opencode/agent/oracle.md
Due: taplo-format

Remove nix-homebrew after package migration
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/darwin/default.nix
  .config/nix/modules/darwin/homebrew.nix
  .config/nushell/env.nu
  .config/shell/.zshenv
  .dotter/macos.toml
Due: nixfmt-check, taplo-format

Bootstrap native Neovim as nvim-next
  .config/nvim/init.lua
  .config/nvim/lua/nrm/core/init.lua
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
  .mise/tasks/nvim/next
  .mise/tasks/nvim/test
  mise.lock
  scripts/test-nvim-startup.lua
Due: taplo-format

Add locked vim.pack plugin lifecycle
  .config/nvim/init.lua
  .config/nvim/lua/nrm/pack/init.lua
  .config/nvim/lua/nrm/pack/specs.lua
  .config/nvim/nvim-pack-lock.json
  .mise/tasks/nvim/next
  .mise/tasks/nvim/test
  .mise/tasks/nvim/test-bootstrap
  scripts/test-nvim-startup.lua
Due: none

Translate Neovim core and editing behavior
  .config/nvim/after/ftplugin/jjdescription.lua
  .config/nvim/init.lua
  .config/nvim/lua/nrm/core/autocmds.lua
  .config/nvim/lua/nrm/core/commands.lua
  .config/nvim/lua/nrm/core/init.lua
  .config/nvim/lua/nrm/core/keymaps.lua
  .config/nvim/lua/nrm/core/options.lua
  .config/nvim/lua/nrm/plugins/editing.lua
  .gitignore
  .mise/tasks/nvim/test
  scripts/test-nvim-structured-editing.lua
Due: none

Translate Neovim interface and navigation
  .config/nvim/colors/bluescreen.lua
  .config/nvim/colors/bluescreen_soft.lua
  .config/nvim/init.lua
  .config/nvim/lua/nrm/core/init.lua
  .config/nvim/lua/nrm/core/keymaps.lua
  .config/nvim/lua/nrm/flash.lua
  .config/nvim/lua/nrm/pack/specs.lua
  .config/nvim/lua/nrm/plugins/interface.lua
  .config/nvim/nvim-pack-lock.json
  .gitignore
  .mise/tasks/nvim/test
  scripts/test-nvim-interface-navigation.lua
Due: none

Translate Neovim language and data tooling
  .config/nvim/after/queries/markdown/highlights.scm
  .config/nvim/after/queries/markdown/injections.scm
  .config/nvim/after/queries/markdown/textobjects.scm
  .config/nvim/init.lua
  .config/nvim/lua/nrm/languages/data.lua
  .config/nvim/lua/nrm/languages/ecosystems.lua
  .config/nvim/lua/nrm/languages/lsp.lua
  .config/nvim/lua/nrm/languages/quality.lua
  .config/nvim/lua/nrm/pack/specs.lua
  .config/nvim/lua/nrm/plugins/editing.lua
  .config/nvim/nvim-pack-lock.json
  .config/nvim/snippets/typescript/effect.lua
  .gitignore
  .mise/tasks/nvim/test
  .mise/tasks/nvim/test-bootstrap
  package.json
  pnpm-lock.yaml
  scripts/test-nvim-startup.lua
  scripts/test-nvim-typescript.lua
Due: none

Translate Neovim version-control integrations
  .config/nvim/init.lua
  .config/nvim/lua/nrm/pack/specs.lua
  .config/nvim/lua/nrm/plugins/interface.lua
  .config/nvim/lua/nrm/plugins/vcs.lua
  .config/nvim/nvim-pack-lock.json
  .mise/tasks/nvim/test
  scripts/test-nvim-repository-navigation.lua
Due: none

Make native Neovim the default
  .config/mise/config.toml
  .config/nix/modules/home/default.nix
  .config/nushell/aliases.nu
  .config/shell/.zshrc
  .dotter/global.toml
  .dotter/local.toml
  .mise/tasks/nvim/test
  .mise/tasks/nvim/test-bootstrap
  scripts/test-nvim-interface-navigation.lua
Due: nixfmt-check, taplo-format

Declare Prek as project tooling
  .config/nushell/aliases.nu
  mise.lock
  mise.toml
Due: taplo-format

Add side-by-side Tuicr configuration
  .config/tuicr/config.toml
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: taplo-format

Load macOS bootstrap declarations automatically
  .config/mise/config.macos.toml
  .config/mise/config.toml
  .config/miserc.toml
  .dotter/global.toml
  .gitignore
Due: taplo-format

Replace deprecated Nix platform predicates
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/default.nix
Due: nixfmt-check

Stop enabling Tailwind LSP globally
  .config/nvim/lua/nrm/languages/lsp.lua
Due: none

Declare and validate mise-managed dotfiles
  .config/mise/config.macos.toml
  .config/mise/config.toml
  .gitignore
  .mise/tasks/check/_default
  .mise/tasks/check/rust
  .mise/tasks/validate
  Cargo.toml
  README.md
  package.json
  pnpm-lock.yaml
  scripts/validate-dotfiles.nu
  scripts/validate-dotfiles.rs
  scripts/validate-dotfiles.ts
Due: taplo-format

Remove Dotter and obsolete migration residue
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/default.nix
  .config/nix/modules/home/programs.nix
  .dotter/global.toml
  .dotter/local.toml
  .dotter/macos.toml
  .gitignore
  README.md
Due: nixfmt-check, taplo-format

Restore Jujutsu workspace support in Neovim
  .config/nvim/lua/nrm/pack/init.lua
  .config/nvim/lua/nrm/plugins/interface.lua
  .config/nvim/lua/nrm/plugins/vcs.lua
Due: none

Transfer live dotfile ownership to mise
  .config/mise/config.toml
  .config/nix/modules/darwin/activation.nix
  .config/nix/modules/darwin/shell.nix
  .config/nushell/aliases.nu
  .config/nushell/config.nu
  .config/shell/.zshrc
  .mise/tasks/deploy/_default
  .mise/tasks/deploy/dry
  .mise/tasks/dots/_default
  .mise/tasks/dots/apply
  .mise/tasks/dots/dry
  .mise/tasks/dots/status
  .mise/tasks/full-update
  README.md
  scripts/sync-skills.nu
Due: nixfmt-check, taplo-format

de-slopping the readme a bit
  README.md
Due: none

Declare regularly used Tree-sitter parsers
  .config/nvim/lua/nrm/pack/init.lua
  .config/nvim/lua/nrm/pack/parsers.lua
  .config/nvim/lua/nrm/plugins/editing.lua
Due: none

Remove retired application configuration surfaces
  .config/.harlequin.toml
  .config/gitui/key_bindings.ron
  .config/gitui/theme.ron
  .config/helix/languages.toml
  .config/marimo/config.toml
  .config/mise/config.macos.toml
  .config/mise/config.toml
  .config/nix-direnv/config.toml
  .config/nix/modules/common/packages.nix
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
  .config/opencode/agent/nick-isms.md
  .config/rumdl/.rumdl.toml
  .config/shell/.zshrc
  .config/zellij/config.kdl
  .gitignore
Due: nixfmt-check, taplo-format

Trim shell aliases and promote retained tools
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
  .config/shell/.zshrc
Due: nixfmt-check, taplo-format

Deploy Nushell integrations on Linux
  .config/mise/config.linux.toml
  .config/mise/config.toml
  .gitignore
  scripts/validate-dotfiles.ts
Due: taplo-format

Remove redundant Nix migration residue
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/default.nix
Due: nixfmt-check

Move Yazi package ownership to mise
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .config/nix/modules/common/plugins.nix
  .config/nix/modules/darwin/activation.nix
  .config/yazi/flavors/catppuccin-frappe.yazi/LICENSE
  .config/yazi/flavors/catppuccin-frappe.yazi/LICENSE-tmtheme
  .config/yazi/flavors/catppuccin-frappe.yazi/README.md
  .config/yazi/flavors/catppuccin-frappe.yazi/flavor.toml
  .config/yazi/flavors/catppuccin-frappe.yazi/preview.png
  .config/yazi/flavors/catppuccin-frappe.yazi/tmtheme.xml
  .config/yazi/flavors/catppuccin-latte.yazi/LICENSE
  .config/yazi/flavors/catppuccin-latte.yazi/LICENSE-tmtheme
  .config/yazi/flavors/catppuccin-latte.yazi/README.md
  .config/yazi/flavors/catppuccin-latte.yazi/flavor.toml
  .config/yazi/flavors/catppuccin-latte.yazi/preview.png
  .config/yazi/flavors/catppuccin-latte.yazi/tmtheme.xml
  .config/yazi/flavors/catppuccin-macchiato.yazi/LICENSE
  .config/yazi/flavors/catppuccin-macchiato.yazi/LICENSE-tmtheme
  .config/yazi/flavors/catppuccin-macchiato.yazi/README.md
  .config/yazi/flavors/catppuccin-macchiato.yazi/flavor.toml
  .config/yazi/flavors/catppuccin-macchiato.yazi/preview.png
  .config/yazi/flavors/catppuccin-macchiato.yazi/tmtheme.xml
  .config/yazi/flavors/catppuccin-mocha.yazi/LICENSE
  .config/yazi/flavors/catppuccin-mocha.yazi/LICENSE-tmtheme
  .config/yazi/flavors/catppuccin-mocha.yazi/README.md
  .config/yazi/flavors/catppuccin-mocha.yazi/flavor.toml
  .config/yazi/flavors/catppuccin-mocha.yazi/preview.png
  .config/yazi/flavors/catppuccin-mocha.yazi/tmtheme.xml
  .config/yazi/flavors/dracula.yazi/LICENSE
  .config/yazi/flavors/dracula.yazi/LICENSE-tmtheme
  .config/yazi/flavors/dracula.yazi/README.md
  .config/yazi/flavors/dracula.yazi/flavor.toml
  .config/yazi/flavors/dracula.yazi/preview.png
  .config/yazi/flavors/dracula.yazi/tmtheme.xml
  .config/yazi/package.toml
  .gitignore
  .mise/tasks/check/_default
  .mise/tasks/check/yazi
  README.md
Due: nixfmt-check, taplo-format

Move Nushell distribution ownership to mise
  .config/ghostty/config
  .config/mise/config.macos.toml
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .config/nix/modules/home/programs.nix
  .config/nushell/config.nu
  .config/nushell/plugins.nu
  .config/shell/.zshrc
  .mise/tasks/check/_default
  .mise/tasks/check/nu-plugins
  README.md
Due: nixfmt-check, taplo-format

Provide portable Yazi preview capabilities
  .config/mise/config.linux.toml
  .config/mise/config.macos.toml
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .mise/tasks/check/yazi
  README.md
Due: nixfmt-check, taplo-format

Path conditions:
  nixfmt-check: any of: \.nix$
  taplo-format: any of: \.toml$
