Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

nixfmt-check:
  name: Check Nix Formatting
  entry: nixfmt
  args:
  - --check
  language: system
  pass_filenames: true

taplo-format:
  name: Format TOML Files
  entry: taplo format
  language: system
  pass_filenames: true

small tweak to default PROMPT.md language
  .config/nushell/commands.nu
Due: none

updating some of my custom agents to explicitly encourage writing docs in paragraphs, not *always* with headings and bullets
  .config/opencode/agent/careful.md
  .config/opencode/agent/nick-isms.md
Due: none

updating some of my custom agents to use gpt 5.2 codex instead of claude opus 4.5
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/oracle.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
Due: none

making ghostty more transparent for funzies again plus a nix package tweak
  .config/ghostty/config
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

removing disruptive preemptive compaction commands
  .config/opencode/command/pcompact-status.md
  .config/opencode/command/pcompact-toggle.md
  .config/opencode/plugin/preemptive-compaction.ts
  .dotter/global.toml
Due: taplo-format

lock updates for nix flakes
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  flake.lock
Due: nixfmt-check

bumping model versions with the release of opus 4.6 and codex 5.3
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/oracle.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
Due: none

adding clauses in hopes of getting my agents not to give stupid time estimates in planning docs
  .config/opencode/agent/careful.md
  .config/opencode/agent/nick-isms.md
Due: none

adding some new agent skills including a TDD skill from https://github.com/mattpocock/skills:wq
  .config/.claude/skills/design-an-interface/SKILL.md
  .config/.claude/skills/request-refactor-plan/SKILL.md
  .config/.claude/skills/tdd/SKILL.md
  .config/.claude/skills/tdd/deep-modules.md
  .config/.claude/skills/tdd/interface-design.md
  .config/.claude/skills/tdd/mocking.md
  .config/.claude/skills/tdd/refactoring.md
  .config/.claude/skills/tdd/tests.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/testing-guru.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

nix system updates
  .config/nix/flake.lock
  flake.lock
Due: none

blocking a third-party skill that prompts agents to always run an ad for K-Dense Web
  .config/nix/modules/home/skills.nix
Due: nixfmt-check

adding macos desk top hot corners to turn on the screen saver in the bottom corners, plus adding ghostscript for pdf handling
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/system.nix
Due: nixfmt-check

adding a small pointer to the nick-isms agent about merging rust imports
  .config/opencode/agent/nick-isms.md
Due: none

adding ast-grep to my tools for use by agents for efficient syntax-aware code searches
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

expanding my coding agent setup with new skills, agents, and commands
  .config/.claude/skills/back-of-envelope/SKILL.md
  .config/.claude/skills/codebase-searcher/SKILL.md
  .config/.claude/skills/jj/SKILL.md
  .config/.claude/skills/local-ci/SKILL.md
  .config/.claude/skills/logging/SKILL.md
  .config/opencode/agent/codebase-searcher.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/measurement-guru.md
  .config/opencode/command/describe-commit.md
  .config/opencode/command/query.md
  .config/opencode/command/run-multiphase-review.md
  .config/opencode/command/tidy-commit-graph.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

making the default model for general subagents codex-5.3
  .config/opencode/opencode.jsonc
Due: none

add update-working-document slash command for OpenCode
  .config/opencode/command/run-multiphase-review.md
  .config/opencode/command/update-working-document.md
Due: none

adding a small adjustment to my careful agent to remind it to show code sketches instead of telling about them
  .config/opencode/agent/careful.md
Due: none

switching to opencode's tui-specific config and turning of pasted content summaries
  .config/opencode/opencode.jsonc
  .config/opencode/tui.json
  .dotter/global.toml
  .gitignore
Due: taplo-format

small tweaks to ghostty transparency, the macos dock (welcome Paper), and some agent permissions
  .config/ghostty/config
  .config/nix/modules/darwin/system.nix
  .config/opencode/agent/careful.md
Due: nixfmt-check

add pwd copy command to copy working directory to clipboard, with aliases for discoverability (pwd clip, pwd yank, path copy, path clip, path yank)
  .config/nushell/commands.nu
  .config/nushell/config.nu
Due: none

disable TypeScript inlay hints and comment out tailwindcss-ls to reduce editor noise in TS/JS/HTML files
  .config/helix/languages.toml
Due: taplo-format

changing ghostty to auto-update on tip
  .config/ghostty/config
Due: none

Restructure codebase-searcher to use three-tier search strategy
  .config/.claude/skills/codebase-searcher/SKILL.md
  .config/opencode/agent/codebase-searcher.md
Due: none

system update and some common nix package changes
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  flake.lock
Due: nixfmt-check

nushell 0.111 brings command group aliasing, which I bring in for polars a la https://www.nushell.sh/blog/2026-02-28-nushell_v0_111_0.html#type-polars-less-now
  .config/nushell/aliases.nu
Due: none

enabling the paper.design mcp server in opencode
  .config/opencode/opencode.jsonc
Due: none

giving myself a `pwd y` version of my custom nu command that copies the current dir into the system clipboard
  .config/nushell/commands.nu
Due: none

switching to gpt 5.4 for all agents where I use gpt models
  .config/.claude/skills/codebase-searcher/SKILL.md
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/codebase-searcher.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/oracle.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
Due: none

adding a suggestion in the jj skill for how to 'see' older commits after they've been pushed
  .config/.claude/skills/jj/SKILL.md
Due: none

adding mention of ascii diagrams as a preferred mode of communication to a couple subagents, plus shifting my default 'careful' subagent to gpt 5.4
  .config/opencode/agent/careful.md
  .config/opencode/agent/nick-isms.md
Due: none

a couple new aliases
  .config/nushell/aliases.nu
Due: none

switching the careful agent back to opus 4.6 because that's what I have the most access to (for now)
  .config/opencode/agent/careful.md
Due: none

adding a home-grown effect v4 skill generated of the Effect-TS/effect-smol ai-docs
  .config/.claude/skills/effect-ts/SKILL.md
  .config/.claude/skills/effect-ts/references/auxiliary-modules.md
  .config/.claude/skills/effect-ts/references/http.md
  .config/.claude/skills/effect-ts/references/streams.md
  .config/.claude/skills/effect-ts/references/testing.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

adding a cool design engineering skill
  .config/.claude/skills/design-engineering/SKILL.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

updating the latest nix environment
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/homebrew.nix
  flake.lock
  flake.nix
Due: nixfmt-check

small tweaks to helix configs
  .config/helix/config.toml
  .config/helix/languages.toml
Due: taplo-format

moving rust script to 2024 edition for sweet if let chains
  Cargo.toml
  scripts/validate-dotfiles.rs
Due: taplo-format

updating dev flake, a nushell alias tweak, and adding justfile choose recipe
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nushell/aliases.nu
  justfile
Due: nixfmt-check

formatting typescript validator
  scripts/validate-dotfiles.ts
Due: none

Path conditions:
  nixfmt-check: any of: \.nix$
  taplo-format: any of: \.toml$
