Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

nixfmt-check:
  name: Check Nix Formatting
  entry: nixfmt
  args:
  - --check
  language: system
  pass_filenames: true

taplo-format:
  name: Format TOML Files
  entry: taplo format
  language: system
  pass_filenames: true

Adding a justfile recipe for updating the project's development shell nix flake
  justfile
Due: none

adding a custom command for using jujutsu to open modified files in a revision
  .config/nushell/commands.nu
Due: none

updating nix flake locks
  .config/nix-darwin/flake.lock
  flake.lock
Due: none

Implementing a workaround for a nushell bug in updating $env.PWD when the config imports symlinked modules
  .config/nushell/carapace.nu
  .config/nushell/commands.nu
  .config/nushell/config.nu
Due: none

bringing jujutsu config file under management by dotter
  .config/jj/config.toml
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: taplo-format

nix flake environment updates
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  flake.lock
Due: nixfmt-check

implementing a custom command to make repeated docker image rebuilds and pushes faster, plus some alias reorgs
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
Due: none

odds and ends
  .config/opencode/agent/nick-isms.md
  .config/opencode/opencode.jsonc
  .config/shell/.zshrc
Due: none

small patch to the dockerup command to properly parse nuon format
  .config/nushell/commands.nu
Due: none

Adding handy `jj tug` alias thanks to https://shaddy.dev/notes/jj-tug/
  .config/jj/config.toml
Due: taplo-format

fixing some typo changes in an agent prompt
  .config/nushell/aliases.nu
  .config/opencode/agent/nick-isms.md
Due: none

updating the readme a bit
  README.md
Due: none

revising the order that I specify opencode agent permissions based on what I now know about how opencode assigns precedence
  .config/opencode/agent/careful.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/testing-guru.md
Due: none

readme updates to include more about the justfile recipes and development environment
  README.md
Due: none

fixing multiple errors in my nix-darwin setup that stemmed from activation scripts not running unless given one of nix-darwin's blessed script names
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
Due: nixfmt-check

removing unused shell.nix and updating nix darwin system flake
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .config/nix/shell.nix
Due: nixfmt-check

partial migration to a much more modular nix system configuration that could work on macos *and* linux
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/common/plugins.nix
  .config/nix/modules/darwin/activation.nix
  .config/nix/modules/darwin/default.nix
  .config/nix/modules/darwin/environment.nix
  .config/nix/modules/darwin/homebrew.nix
  .config/nix/modules/darwin/packages.nix
  .config/nix/modules/darwin/shell.nix
  .config/nix/modules/darwin/system.nix
  .config/nushell/commands.nu
  .config/nushell/config.nu
  .config/shell/.zprofile
  .dotter/local.toml
  .dotter/macos.toml
  .gitignore
  README.md
  justfile
Due: nixfmt-check, taplo-format

completing the nix cross-platform modularization with home-manager mediation of nix packages
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/packages.nix
  .config/nix/modules/darwin/shell.nix
  .config/nix/modules/home/default.nix
  .config/nix/modules/home/packages.nix
  .config/nix/modules/home/programs.nix
  .config/nushell/env.nu
  .config/nushell/starship.nu
  .config/shell/.zshenv
  .gitignore
  justfile
Due: nixfmt-check

removing the old nix-darwin monolith flake once and for all
  .config/nix-darwin/flake.lock
  .config/nix-darwin/flake.nix
  .gitignore
  flake.lock
Due: nixfmt-check

all hail the jj tush subcommand
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
Due: none

making the custom code review command handle the case where I've already cloned a repo I want to review previously
  .config/nushell/commands.nu
  .config/opencode/agent/nick-isms.md
Due: none

uncommenting some previously ignored packages, installing rstudio as a homebrew cask, and a sys update
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/homebrew.nix
Due: nixfmt-check

deploying the anthropic scientific skills repo in the same way as I deploy anthropic's skills
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/home/skills.nix
Due: nixfmt-check

removing annoying starship system notifications
  .config/starship.toml
Due: taplo-format

allowing uv run pytest by default for the careful agent
  .config/opencode/agent/careful.md
Due: none

adding a new allocation-nag custom agent that uses an allocations skill
  .config/.claude/skills/allocations/SKILL.md
  .config/.claude/skills/allocations/references/python-allocations.md
  .config/.claude/skills/allocations/references/rust-allocations.md
  .config/.claude/skills/allocations/references/typescript-allocations.md
  .config/opencode/agent/allocation-nag.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

adding a self-doubt skill
  .config/.claude/skills/self-doubt/SKILL.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

small update to the duckdb skill and to the `jj from git` remote syntax
  .config/.claude/skills/duckdb/SKILL.md
  .config/nushell/commands.nu
Due: none

giving my careful agent more leeway with jujutsu commands
  .config/opencode/agent/careful.md
Due: none

adding a couple new agents, some custom commands, and a couple plugins for opencode, all inspired by https://github.com/dmmulroy/.dotfiles
  .config/.claude/skills/vcs-detect/SKILL.md
  .config/opencode/agent/opencode-expert.md
  .config/opencode/agent/oracle.md
  .config/opencode/command/complete-next-task.md
  .config/opencode/command/index-knowledge.md
  .config/opencode/command/pcompact-status.md
  .config/opencode/command/pcompact-toggle.md
  .config/opencode/plugin/notification.js
  .config/opencode/plugin/preemptive-compaction.ts
  .dotter/global.toml
  .gitignore
Due: taplo-format

nix bump
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/homebrew.nix
Due: nixfmt-check

putting zellij shells in nu
  .config/zellij/config.kdl
Due: none

adding the opencode plugin dependency and removing the unneeded notification plugin
  .config/opencode/plugin/notification.js
  package.json
Due: none

adding ralph and prd claude skills
  .config/.claude/skills/prd/SKILL.md
  .config/.claude/skills/ralph/SKILL.md
  .dotter/global.toml
  .gitignore
Due: taplo-format

odds and ends
  .config/.prettierrc
  .config/nix/modules/common/packages.nix
  .config/opencode/agent/nick-isms.md
Due: nixfmt-check

simplifying the mess of TUIs I was installing for version control. I've settled into just using the jj cli most of the time and the lazygit TUI when I fall back to git
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

adding a nushell ralph loop implementation with helpers to aid in setting up a compatible project structure
  .config/nushell/commands.nu
Due: none

Path conditions:
  nixfmt-check: any of: \.nix$
  taplo-format: any of: \.toml$
