Repository nrminor/.dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: nixfmt-check, taplo-format

nixfmt-check:
  name: Check Nix Formatting
  entry: nixfmt
  args:
  - --check
  language: system
  pass_filenames: true

taplo-format:
  name: Format TOML Files
  entry: taplo format
  language: system
  pass_filenames: true

remove codemogger and recommend ast-grep outline
  .config/.claude/skills/codebase-searcher/SKILL.md
  .config/opencode/agent/codebase-searcher.md
Due: none

small tweaks to nick-isms
  .config/opencode/agent/nick-isms.md
Due: none

adding a 'conceptual PCA' skill
  .config/.claude/skills/conceptual-pca/SKILL.md
  .config/nix/modules/home/skills.nix
  .config/opencode/agent/move-37.md
  .gitignore
Due: nixfmt-check

switch nushell fuzzy finding to skim
  .config/nushell/aliases.nu
  .config/nushell/commands.nu
Due: none

stop using duckdb previews for xlsx in yazi
  .config/yazi/yazi.toml
Due: taplo-format

add BAM histogram helper inspired by jhuapl-bio/taxtriage
  .config/nushell/commands.nu
Due: none

add csvview.nvim plugin
  .config/neovim/plugins/languages/csv.lua
  .config/neovim/plugins/languages/csv.nix
  .config/neovim/plugins/languages/default.nix
Due: nixfmt-check

try Helix-style flash word jump
  .config/neovim/plugins/flash.lua
  .config/neovim/plugins/flash.nix
  .gitignore
Due: nixfmt-check

more small tweaks to careful agent to make skill loading more lazy
  .config/opencode/agent/careful.md
Due: none

manage mise config with dotter
  .config/mise/config.toml
  .config/nushell/config.nu
  .config/nushell/env.nu
  .dotter/global.toml
  .dotter/local.toml
  .gitignore
Due: taplo-format

quiet direnv environment diff logging
  .config/direnv/direnv.toml
  .dotter/global.toml
  .gitignore
Due: taplo-format

add usage-backed mise completions for nushell
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .config/nushell/config.nu
  .config/nushell/mise.nu
  .dotter/global.toml
Due: nixfmt-check, taplo-format

system update
  .config/neovim/plugins/lint.nix
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/default.nix
  .config/nix/modules/home/neovim.nix
Due: nixfmt-check

adding skill about intricate preemptive conflict resolutions with jj
  .config/.claude/skills/jj-preemptive-conflict-resolution/SKILL.md
  .config/nix/modules/home/skills.nix
  .gitignore
Due: nixfmt-check

bumping some agents to gpt 5.6 sol
  .config/btop/btop.conf
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agent/architecture-advice.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/crazy-idea.md
  .config/opencode/agent/move-37.md
  .config/opencode/agent/oracle.md
Due: none

adding an alias for running jj log with watchexec
  .config/nushell/aliases.nu
Due: none

switching around to latest versions of the openai models
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/semver-nag.md
  .config/opencode/agent/testing-guru.md
Due: none

bringing in some new matt pocock skills e.g. wayfinder
  .config/nix/flake.lock
  .config/nix/modules/home/skills.nix
Due: nixfmt-check

system update
  .config/neovim/settings.nix
  .config/nix/flake.lock
  .config/nix/modules/common/packages.nix
  flake.lock
Due: nixfmt-check

adjusting to some upcoming nushell deprecations
  .config/nushell/commands.nu
  .config/nushell/mise.nu
Due: none

adding pnpm to global environment via mise
  .config/mise/config.toml
Due: taplo-format

adding cargo-semver-checks and release-plz to global nix environment as additional rust tooling
  .config/nix/modules/common/packages.nix
Due: nixfmt-check

changing ghostty working directory inheritance so new windows always open at ~
  .config/ghostty/config
Due: none

enabling the bear notes mcp server and cli, plus some experimental opencode stuff
  .config/nushell/aliases.nu
  .config/opencode/opencode.jsonc
Due: none

giving my review command the ability to review a particular branch or rev
  .config/nushell/commands.nu
Due: none

adding more dependencies onto mise's plate
  .config/mise/config.toml
Due: taplo-format

rejiggering what's handled by zsh versus what's handled by nushell, plus some dependency reductions
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/homebrew.nix
  .config/nix/modules/darwin/system.nix
  .config/nushell/config.nu
  .config/shell/.zshenv
  .config/shell/.zshrc
Due: nixfmt-check, taplo-format

gradually putting mise in charge of more global tooling installations
  .config/mise/config.toml
  .config/nix/modules/common/packages.nix
Due: nixfmt-check, taplo-format

removing brittle yazi and nushell plugin plumbing
  .config/nix/modules/common/packages.nix
  .config/nix/modules/common/plugins.nix
  .config/nix/modules/darwin/activation.nix
  .config/nix/modules/home/programs.nix
  .config/nushell/env.nu
  .config/yazi/init.lua
  .config/yazi/yazi.toml
Due: nixfmt-check, taplo-format

migrating authored tooling guidance from bun to nub
  .config/.claude/skills/back-of-envelope/SKILL.md
  .config/.claude/skills/effect-ts/SKILL.md
  .config/helix/languages.toml
  .config/opencode/agent/careful.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/measurement-guru.md
  .config/opencode/agent/nick-isms.md
  .config/opencode/agent/testing-guru.md
Due: taplo-format

activating mise early in zsh launch
  .config/shell/.zshrc
Due: none

adding jujutsu-native hunk navigation to neovim
  .config/neovim/plugins/default.nix
  .config/neovim/plugins/gitsigns.nix
  .config/neovim/plugins/vcsigns.nix
  .config/neovim/plugins/which-key.nix
Due: nixfmt-check

removing rustowl from the neovim configuration
  .config/neovim/plugins/languages/rust.nix
  .config/neovim/plugins/languages/rustowl.lua
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/home/neovim.nix
Due: nixfmt-check

patching nu_plugin_polars for rust 1.97
  .config/nix/flake.lock
  .config/nix/modules/home/nu-plugin-polars-ethnum-1.5.3.patch
  .config/nix/modules/home/programs.nix
  .gitignore
Due: nixfmt-check

a few subagent tweaks
  .config/opencode/agent/allocation-nag.md
  .config/opencode/agent/careful.md
  .config/opencode/agent/documentation-nerd.md
  .config/opencode/agent/measurement-guru.md
Due: none

expanding home-managed agent skills and removing an obsolete opencode subagent
  .config/nix/flake.lock
  .config/nix/flake.nix
  .config/nix/modules/home/skills.nix
  .config/opencode/agent/opencode-expert.md
  .dotter/global.toml
Due: nixfmt-check, taplo-format

Prefer the Apple toolchain for native Darwin builds
  .config/nix/modules/common/packages.nix
  .config/nix/modules/darwin/activation.nix
Due: nixfmt-check

fixing the jj conflict skill frontmatter
  .config/.claude/skills/jj-preemptive-conflict-resolution/SKILL.md
Due: none

switching default opencode general agent to gpt 5.6
  .config/opencode/opencode.jsonc
Due: none

Path conditions:
  nixfmt-check: any of: \.nix$
  taplo-format: any of: \.toml$
